@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --card-bg-clr: hsl(0, 0%, 100%);
  --bg-clr: hsl(212, 45%, 89%);
  --description-clr: hsl(220, 15%, 55%);
  --title-clr: hsl(218, 44%, 22%);
  --img-outline: 0px solid transparent;

  --qr-svg-clr: #ffffff;
  --qr-svg-crcl-clr: #3685ff;
  --qr-svg-bg-clr: #2c7dfa;
}

/* sr-only */
.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0!important;
  }

/* Reduced motion */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Resets */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
  }

  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
  }

  img, picture, svg {
    max-width: 100%;
    display: block;
  }


/* Global*/
html {
  font: 400 15px 'Outfit', helvetica, sans-serif;
  color: var(--description-clr);
}

body {
  background: var(--bg-clr);
  display: grid;
  place-items: center;
  gap: 2rem;
}

/* Card */
.card {
  width: 21.3rem;
  height: 33.1rem;
  background: var(--card-bg-clr);
  padding: 1.1rem;
  border-radius: 1.4rem;  
}

.card__image {
  content: var(--qr-content);
  border-radius: 0.6rem;
  width: 100%;
  height: auto;
  animation: var(opacity);
  aspect-ratio: 1;
  outline: var(--img-outline);
  overflow: hidden;
}

.card__content{
  margin: 1.6rem auto 0;
}

.card__title {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--title-clr);
}

.card__description {
  margin-top: 1rem;
  width: 17rem;
  margin-inline: auto;
  color: var(--description-clr);
}

/* Color theme selector */
.clr-picker {
  position: relative;
  top: 2rem;
}

.clr-picker__field {
  background: var(--card-bg-clr);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
  width: 80%;
  margin: auto;
  border-radius: 5rem;
  transition: all 0.1s;
}

.clr-picker input[type='radio'] { 
  appearance: none;
  outline: 0.2rem solid var(--bg-clr);
  margin:0;
  height: 50%;
  aspect-ratio: 1;
  border-radius: 2rem;
}

.clr-picker input[type='radio']:checked {
  background: var(--bg-clr);
  outline-color: var(--description-clr);
  scale: 1.1;
}


/* Utility */
.txt-cntr { text-align: center; }

.trsn-fast { transition: all 0.4s; }

.trsn-med { transition: all 0.8s; }

.trsn-slow { transition: all 1.4s; }


/* Color Themes */
.dark-theme,
:root:has(#dark-theme:checked) {
  --card-bg-clr: #161722;
  --bg-clr: #25273c;
  --description-clr: #e4e5f1;
  --title-clr: #cacde8; 

  --qr-svg-clr: #cacde8;
  --qr-svg-crcl-clr: #323551;
  --qr-svg-bg-clr: #25273c;
}

.night-theme,
:root:has(#night-theme:checked) {
  --card-bg-clr: #494d7e;
  --bg-clr: #272744;
  --description-clr: #fbf5ef;
  --title-clr: #fbf5ef; 

  --img-outline: 0.1rem solid #272744;

  --qr-svg-clr: #fbf5ef;
  --qr-svg-crcl-clr: #494d7e;
  --qr-svg-bg-clr: #272744;
}

.orange-theme,
:root:has(#orange-theme:checked) {
    --card-bg-clr:#ae2334;
    --bg-clr: #e83b3b;  
    --description-clr: #f79617;
    --title-clr: #f9c22b; 

    --qr-svg-clr: #ae2334;
    --qr-svg-crcl-clr: #f79617;
    --qr-svg-bg-clr: #f9c22b;
  }

  .cream-theme,
  :root:has(#cream-theme:checked) {
    --card-bg-clr: #ffecd6;
    --bg-clr: #ffd4a3;
    --description-clr: #8d697a;
    --title-clr: #544e68; 
  
    --qr-svg-clr: #544e68;
    --qr-svg-crcl-clr: #ffaa5e;
    --qr-svg-bg-clr: #d08159;
  }


 
