@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
:root {
    /* p= "Primary" n= "Neutral"  */
    --p-dark-cyan: hsl(158, 36%, 37%);
    --p-darker-cyan: hsl(158, 42%, 17%);
    --p-cream: hsl(30, 38%, 92%);
    --n-very-dark-blue: hsl(212, 21%, 14%);
    --n-dark-gray-blue: hsl(228, 12%, 48%);
    --n-white: hsl(0, 0%, 100%);

    --montserrat: 'Montserrat', Verdana,  sans-serif;
    --fraunces: 700 32px/32px 'Fraunces', Georgia, serif;
    
} 

/* Global */
* {
    font: 500 14px var(--montserrat);
    color: var(--n-dark-gray-blue);
}

body {
    background: var(--p-cream);
    color: var(--n-very-dark-blue);
}

h2 {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 5px;
}

h1 {
    font:  var(--fraunces);
    color: var(--n-very-dark-blue)
}


/* Card */
.card {
    position: absolute;
    inset: 0;
    width: 600px;
    height: 450px;
    background: var(--n-white);
    margin: auto;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}


main{
    padding: 1.6rem 2.2rem 0;
}

.description{
    line-height: 1.7rem;;
}
.prices {
    margin: 1.8rem 0;
}
.price{
    font: var(--fraunces);
    color: var(--p-dark-cyan);
}

sup{
    text-decoration: line-through;
    margin-left: 1rem;
    font-size: 13px;
}

/* Card > Button */
.add-to-cart {
    width: 238px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background: var(--p-dark-cyan);
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart:hover {
    background: var(--p-darker-cyan);
    cursor: pointer;
}

.cart {
    display: block;
    margin-right: 0.9rem;
}

.add{
    display: block;
    color: var(--n-white);
    font-weight: 700;
}

/* Attribution */
.attribution { 
    font-size: 11px; 
    text-align: center;
    transform: translate(0, calc(100vh - 40px));
    z-index: -1;
}
    .attribution a { color: hsl(228, 45%, 44%); }


/* Mobile */
@media(max-width: 768px) { 
    main {
        padding: 12px 1.6rem;
    }
    h1 {
        margin-top: 0;
        margin-bottom: 2px;
    }
    .image {
        content: url(../images/image-product-mobile.jpg);
    } 
    .card {
        width: 340px;
        height: 600px;
        flex-direction: column; 
    }
    .prices {
        margin: 1.4rem 0 1rem;
    }
    .add-to-cart {
        width: 300px;
    }

} 